* {
    margin: 0;
    padding: 0;
}

html {
    width: fit-content
}

.wrap {
    /* width: 1920px; */
    max-width: 1920px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    transition: margin-left .5s;
}

.menu {
    height: 125px;
    border-bottom: solid 1px #dddddd;
}

.header {
    height: 46px;
    background-color: #222222;
    display: flex;
}

.header-left {
    width: 80%;
    text-align: left;
}

.header-left-inside {
    margin: 11px 29px;
}

.header-left p {
    font-size: 15px;
    color: #525252;
}

.header-right {
    width: 50%;
}

.header-right-inside {
    float: right;
    display: flex;
}

.header-right i {
    font-size: 12px;
}

.header-right a {
    font-size: 15px;
    color: #525252;
    text-decoration: none;
    padding: 0px 0px;
    margin: 10px 29px 10px 0px;
}

.header-right a:hover {
    text-decoration: none;
    color: wheat;
}

.main-menu {
    display: flex;
    width: 100%;
}


.logo {
    width: 15%;
    display: flex;
}

.logo img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    margin: 7% 10%;
}

.nav {
    width: 70%;
    height: 80px;
}

.nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-self: center;
    margin-bottom: 0;
}

.nav ul li {
    list-style: none;
    width: fit-content;
    text-align: center;
}

.nav ul li a {
    font-size: 10pt;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    max-width: 12.5%;
    font-weight: 700;
    font-family: "Montserrat";
    padding: 30px 29px;
}

.nav ul li a:hover {
    text-decoration: none;
    color: #8262b5;
}

.nav ul li i {
    font-size: 14px;
}

.cart {
    display: flex;
    width: 15%;
    height: 100%;
    max-height: 79px;
    justify-content: flex-end;
}

.cart-inside {
    display: flex;
    margin: 0px 12px;
    line-height: 37px;
    height: 100%;
}

.cart-inside a {
    text-decoration: none;
    margin: 25px 16px;
    color: #000000;
}

.cart-inside i {
    font-size: 25px;
}

.cart-inside a:hover {
    text-decoration: none;
    color: #8262b5;
}

.content {
    max-width: 1920px;
    margin-top: 30px;
}

.banners {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 80px;
    height: 100%;
}

.banners img {
    width: 100%;
    height: 100%;
}

.banner-left {
    max-width: 750px;
    width: 100%;
    position: relative;
    margin-right: 30px;
    /* z-index: -1; */
    height: 100%;
}

.banner-left img {
    height: 100%;
}

.banners a {
    width: 106px;
    height: 40px;
    background-color: #8262b5;
    text-transform: capitalize;
    padding: 10px 0px;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}

.banner-left>a {
    bottom: 152px;
    right: 94px;
}

.banner-right {
    max-width: 360px;
    width: 100%;
    position: relative;
    height: 100%;
}

.banner-right-top {
    width: 100%;
    height: 100%;
}

.banner-right-bot>a {
    bottom: 110px;
    left: 43px;
}

.shop-now a:hover {
    text-decoration: none;
    color: wheat;
}

.banner-right-bot {
    background-size: cover;
    width: 100%;
    height: auto;
    /* background-image: url("images/banner_03.jpg"); */
    position: relative;
    margin-top: 30px;
}

.main-content {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    height: 100px;
}

.franco {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 6px;
    color: #8262b5;
    font-weight: 700;
    font-family: "Montserrat";
    line-height: 10px;
}

.featured-items {
    font-size: 24px;
    letter-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat";
    margin-left: 0px;
    margin-top: 11px;
}

.line {
    width: 50px;
    height: 1px;
    background-color: #8262b5;
    margin-top: 18px;
}

.products {
    margin-top: 25px;
    margin-bottom: 76px;
}

.products-line-1 {
    display: flex;
    justify-content: space-between;
}

.products-line-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
}

.picture {
    width: 262px;
    height: 323px;
    /* background-image: url("feature_01.jpg"); */
    position: relative;
}

.pic_1 {
    background-image: url("images/feature_01.jpg");
}

.pic_2 {
    background-image: url("images/feature_02.jpg");
}

.pic_3 {
    background-image: url("images/feature_03.jpg");
}

.pic_4 {
    background-image: url("images/feature_04.jpg");
}

.pic_5 {
    background-image: url("images/feature_05.jpg");
}

.pic_6 {
    background-image: url("images/feature_06.jpg");
}

.pic_7 {
    background-image: url("images/feature_07.jpg");
}

.pic_8 {
    background-image: url("images/feature_08.jpg");
}

.picture a {
    width: 120px;
    height: 40px;
    box-sizing: border-box;
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding: 9px 18px;
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 26px;
    color: #424242;
    font-weight: 400;
    font-family: "Montserrat";
}

.picture a:hover {
    text-decoration: none;
    color: #8262b5;
}

.detail {
    margin-top: 13px;
}

.name {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: 600;
    font-family: "Montserrat";
    margin-left: -1px;
}

.old {
    font-size: 16px;
    line-height: 26px;
    color: #999999;
    text-decoration: line-through;
}

.new {
    color: #8262b5;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
}

.detail i {
    margin-left: -1px;
    font-size: 11px;
    letter-spacing: -2px;
}

.blog {
    padding-bottom: 110px;
    height: auto;
    background-image: url("images/background.jpg");
}

.blog-title {
    text-align: center;
    text-transform: uppercase;
    padding-top: 72px;
}

.blog-title .latest {
    font-size: 12px;
    letter-spacing: 6px;
    color: #8262b5;
    font-weight: 700;
    text-align: center;
    font-family: "Montserrat";
    margin-left: 9px;
}

.blog-title .news-events {
    font-size: 24px;
    letter-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    font-family: "Montserrat";
}

.title-line {
    max-width: 50px;
    height: 1px;
    background-color: #8262b5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.blog-contents {
    margin-top: 51px;
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.blog-content {
    width: 360px;
    height: 390px;
    background-color: #ffffff;
}

.blog-content .icons {
    margin-top: 38px;
    font-size: 14px;
}

.icons a {
    margin-right: 30px;
    color: #c0c0c0;
}

.content-margin {
    margin: 15px 20px 20px 19px;
}

.blog-content-title a {
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    font-family: "Montserrat";
}

.blog-content a:hover {
    text-decoration: none;
    color: #8262b5;
}

.blog-content-description {
    font-size: 14px;
    width: 322px;
    height: 60px;
    line-height: 22px;
    color: #424242;
    font-weight: 600;
    font-family: "Open Sans";
}

.blog-content-description p {
    margin-top: 16px;
    padding-bottom: 17px;
    border-bottom: solid 1px #c0c0c0;
}

.footer {
    padding-top: 3px;
    width: 100%;
    height: auto;
    background-color: rgba(34, 34, 34, 255);
}

.footer-main {
    padding-top: 58px;
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.column-besides {
    max-width: 263px;
    width: 100%;
}

.column-mid {
    max-width: 360px;
    width: 100%;
}

.footer-main-title {
    text-transform: capitalize;
    font-size: 16px;
    color: #f7f7f7;
    border-bottom: 1px solid #393939;
    letter-spacing: 1px;
    line-height: 22px;
    font-weight: 500;
    font-family: "Montserrat";
    padding-bottom: 24px;
}

.footer-main-links {
    color: #888888;
    font-size: 14px;
    margin: 23px 0px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.links-left {
    max-width: 165px;
    width: 100%;
}

.links-right {
    max-width: 165px;
    width: 100%;
}

.column-left .footer-main-links p {
    max-width: 263px;
    height: 131px;
    font-size: 14px;
    line-height: 22px;
    color: #888888;
    font-weight: 400;
    word-spacing: 2px;
    font-family: "Open Sans";
}

.column-right .footer-main-links li {
    list-style: none;
    line-height: 27px;
    font-size: 18px;
}

.column-right i {
    font-size: 14px;
}

.column-right .footer-main-links p {
    font-size: 12px;
}

.footer-main-links a {
    font-size: 15px;
    color: #888888;
    font-weight: 400;
    font-family: "Open Sans";
    text-transform: capitalize;
}

.footer-main-links a:hover {
    color: #ffffff;
}

.footer-main-links li {
    list-style: none;
    line-height: 27px;
    font-size: 10px;
}

.contact {
    margin-top: 19px;
}

.contact>a {
    margin-right: 30px;
    font-size: 15px;
}

table.config {
    border-collapse: unset;
    /* border-spacing: 21px; */
    margin: 0px 0px;
}

table td {
    vertical-align: top;
    text-align: left;
    height: 48px;
    width: 30px;
}

.footer-end img {
    width: 100%;
}

.responsive-nav {
    display: none;
    align-self: center;
    width: 33.33%;
    justify-content: center;
    cursor: pointer;

}

.sidenav {
    height: 0;
    width: 100%;
    z-index: 1;
    position: absolute;
    background-color: #111;
    opacity: 0.7;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
}
.open {
    height: 500px;
}
.sidenav li {
    list-style: none;
}

.sidenav li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.responsive-logo {
    display: none;
    align-self: center;
    width: 33.33%;
    justify-content: center;
}

@media screen and (max-width:1329px) {
    .main-menu .logo {
        display: none;
    }

    .main-menu .nav {
        display: none;
    }

    .responsive-nav {
        display: inline-block;
    }

    .responsive-nav>div {
        width: 35px;
        margin-left: auto;
        margin-right: auto;
    }

    .responsive-nav i {
        font-size: 40px;
    }

    .responsive-logo {
        display: flex;
    }

    .cart {
        width: 33.33%;
        justify-content: center;
    }

    .cart i {
        font-size: 40px;
    }
}

@media screen and (max-width:1139px) {
    .banners {
        display: block;
    }

    .banner-right {
        display: none;
    }

    .banner-left {
        margin-right: auto;
        margin-left: auto;
    }

    .main-content {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .products {
        display: flex;
        justify-content: space-between;

    }

    .products-line-1 {
        display: block;
    }

    .products-line-2 {
        display: block;
        margin-top: 0;
    }

    .blog-contents {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .blog-content {
        display: flex;
        width: fit-content;
        height: auto;
        background-color: #ffffff;
        margin-bottom: 2%;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-main {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:885px) {
    .footer-main {
        display: block;
        margin-left: 1%;
    }
}
